{% render 'views/head.liquid', title: 'Squad page' %}
{% comment %} Miel {% endcomment %}

<section class="carrousel">

<div class="hidden y1971">
  <div>
    {% for person in ninetySeventyOne %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
</div>

<div class="hidden y1973">
  <div>
    {% for person in ninetySeventyThree %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
</div>

<div class="hidden y1984">
  <div>
    {% for person in ninetyEightyFour %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
</div>

<div class="hidden y1990">
  <div>
    {% for person in ninetyNinety %}
      <article>  
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
  </div>

<div class="hidden y1994">
  <div>
    {% for person in ninetyNinetyFour %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
</div>

<div class="hidden y1999">
  <div>
    {% for person in ninetyNinetyNine %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
</div>

<div class="hidden y2000">
  <div>
    {% for person in twoThousands %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
</div>

<div class="hidden y2001">
  <div>
    {% for person in twoThousandOne %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
  </div>

  <div class="hidden y2002">
  <div>
    {% for person in twoThousandTwo %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
  </div>

  <div class="hidden y2003">
  <div>
    {% for person in twoThousandThree %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
  </div>

  <div class="hidden y2004">
  <div>
    {% for person in twoThousandFour %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
  </div>

  <div class="hidden y2005">
  <div>
    {% for person in twoThousandFive %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
  </div>

  <div class="hidden y2006">
  <div>
    {% for person in twoThousandSix %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
  </div>

  <div class="hidden y2007">
  <div>
    {% for person in twoThousandSeven %}
      <article>
        <a href="/student/{{ person.id }}"><img src="{{ person.avatar }}" width="150px" style="border: 5px {{ person.fav_color }} solid"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </div>
  </div>
</section>

<div class="year">
  {% comment %} hier komt de waarde die ook zichtbaar is op de slider {% endcomment %}
    <h2 class="yearof">2003</h2>

    {% comment %} <section class="slidecontainer">
      <input class="slider" type="range" min="1970" max="2010" value="1970" class="slider" id="sliderControl">
    </section> {% endcomment %}

</div>



{% comment %} Kyan {% endcomment %}

<section class="slidecontainer">
  <section class="sliderinfo">
      <input type="range" min="1970" max="2010" value="1970" class="slider" class="slider"
      oninput="SliderYear()">

      {% comment %} div Yearslider is bedoelt om het jaartal te laten zien zodra je slide, in CSS en JS. {% endcomment %}

      <div class="yearslider"></div>
  </section>
</section>

<script src="slider.js"></script>

{% render 'views/foot.liquid', squads: squads %}