{% render 'views/head.liquid', title: 'Squad page' %}

<style> 
.carrousel section article {
  border: solid 4px {{ person.fav_color }};
  border-radius: 1em;
  } 
</style>


{% comment %} Miel {% endcomment %}

<section class="carrousel">
  <section class="y1971">
    {% for person in ninetySeventyOne %}
      <article>
        <a>  <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y1973">
    {% for person in ninetySeventyThree %}
      <article>
      <a> <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y1984">
    {% for person in ninetyEightyFour %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y1990">
    {% for person in ninetyNinety %}
      <article>  
        <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y1994">
    {% for person in ninetyNinetyFour %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y1999">
    {% for person in ninetyNinetyNine %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y2000">
    {% for person in twoThousands %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y2001">
    {% for person in twoThousandOne %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y2002">
    {% for person in twoThousandTwo %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y2003">
    {% for person in twoThousandThree %}
      <article>
        <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y2004">
    {% for person in twoThousandFour %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y2005">
    {% for person in twoThousandFive %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y2006">
    {% for person in twoThousandSix %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <hr>

  <section class="y2007">
    {% for person in twoThousandSeven %}
      <article>
       <img src="{{ person.avatar }}" width="150px" href="/student/{{ person.id }}"></a>
      <p> {{ person.name }} </p>
      </article>
    {% endfor %}
  </section>

  <section class="year">
    <h2>1970</h2>
  </section>
</section>

{% comment %} Kate {% endcomment %}
<div>
  <img src="{{ person.avatar }}" width="150px">
  <p>{{ person.name }}</p>
  <p>{{ person.bio }}</p>
</div>

<h2>Comments</h2>

{% for message in messages %}
<p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
{% else %}
<p>Er zijn nog geen berichten voor dit team.</p>
{% endfor %}

 <section>
<h2>Voeg een bericht toe</h2>
  <form method="post" action="/">
    <label>
      Naam:
      <input type="text" name="from" required>
    </label>
    <label>
      Bericht:
      <textarea name="text" required></textarea>
    </label>
    <button type="submit">Verstuur</button>
  </form>
</section>

{% comment %} Kyan {% endcomment %}
  
  <section class="slidecontainer">
    <input class="slider" type="range" min="1970" max="2010" value="1970" class="slider" id="myRange">
  </section>

{% render 'views/end.liquid', squads: squads %}